@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
}

main {
    display: flex;
}

.background-com-tela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-destaque {
    background-color: hsl(276, 100%, 81%);
    width: 35vw;
    height: 80vh;
    border-radius: 0 0 40% 5%;  
}

.tela-do-app {
    background-color: hsl(0, 0%, 100%);
    width: 20vw;
    height: 60vh;
    border-radius: 10%;
    
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 2rem;
}

h2 {
    font-size: 2.7rem;
    margin-bottom: 1.2rem;
    color: hsl(271, 36%, 24%);
    font-weight: 700;
}

.texto p {
    font-size: 1.1rem;
    color: hsl(270, 7%, 64%);
    line-height: 1.7rem;
}

footer {
    text-align: center;
}