.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #a2a59c;
}

.titulo {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 4rem;
    color: #041420;
}

.container-input {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.input-cep {
    border-radius: 4px;
    padding: 1rem;
    outline: none;
    border: 2px #041420 solid;
    font-size: 1rem;
    color: #041420;
    font-family: monospace;
}

.input-cep:focus {
    box-shadow: 4px #041420;
}

.btn {
    border-radius: 0.25rem;
    padding: 1.25rem;
    font-size: 16px;
    cursor: pointer;
    font-size: 1rem;
    color: #e4e6e7;
    transition: 1.5;
    background: #041420;
    border: none;
    font-family: monospace;
}

.btn:hover {
    background: #273845;   
}

.resultado {
    display: flex;
    flex-direction: column;
    color: #e4e6e7;
    background: #041420;
    padding: 1rem;
    min-width: 300px;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.resultado h2 {
    margin-bottom: 0.5rem;
}

.resultado span {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    color: #041420;
}

footer a {
    text-decoration: none;
    color: #0a2ebd;
}

@media (max-width: 500px) {
    .container-input {
        flex-direction: column;
    }

    .resultado {
        min-width: 0px;
        max-width: 80%;
        margin-bottom: 1rem;
    }
}